ol{
    display:flex;
    list-style: none;
    background-color:lightblue;
    border:solid 1px black;
}
li{
    padding:10px;
    font-family: cursive;
    font-size: 20px;
    color: white;
}


li:hover{
    background-color:lightskyblue;
}

.logo{
    width:60px;
    height:60px;
}
a{
    text-decoration: none;
}